功能/对比文件夹/st.xml


<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://wb.inter.sirio.com/" name="workOrderService" targetNamespace="http://wb.inter.sirio.com/">
   <wsdl:types>
      <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://wb.inter.sirio.com/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://wb.inter.sirio.com/">
         <xs:element name="mesOrderDetailInfo" type="tns:produceOrderInfoEntity" />
         <xs:element name="mesOrderInfo" type="tns:produceEntity" />
         <xs:element name="order" type="tns:order" />
         <xs:element name="orderResponse" type="tns:orderResponse" />
         <xs:complexType name="order">
            <xs:sequence>
               <xs:element minOccurs="0" name="mesOrderInfo" type="tns:produceEntity" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="produceEntity">
            <xs:sequence>
               <xs:element minOccurs="0" name="order_number_S" type="xs:string" />
               <xs:element minOccurs="0" name="order_type_code_S" type="xs:string" />
               <xs:element minOccurs="0" name="order_type_name_S" type="xs:string" />
               <xs:element minOccurs="0" name="order_status_S" type="xs:string" />
               <xs:element minOccurs="0" name="base_start_date_T" type="xs:string" />
               <xs:element minOccurs="0" name="base_end_date_T" type="xs:string" />
               <xs:element minOccurs="0" name="order_create_date_T" type="xs:string" />
               <xs:element minOccurs="0" name="part_number_S" type="xs:string" />
               <xs:element minOccurs="0" name="product_uom_S" type="xs:string" />
               <xs:element minOccurs="0" name="order_planqty_V" type="xs:string" />
               <xs:element minOccurs="0" name="order_waste_qty" type="xs:string" />
               <xs:element minOccurs="0" name="pro_batch_no_S" type="xs:string" />
               <xs:element minOccurs="0" name="bom_No_S" type="xs:string" />
               <xs:element minOccurs="0" name="bom_Rev_S" type="xs:string" />
               <xs:element minOccurs="0" name="product_line_S" type="xs:string" />
               <xs:element minOccurs="0" name="work_shop_S" type="xs:string" />
               <xs:element minOccurs="0" name="plant_S" type="xs:string" />
               <xs:element minOccurs="0" name="part_Desc_S" type="xs:string" />
               <xs:element minOccurs="0" name="deliver_Warehouse_S" type="xs:string" />
               <xs:element minOccurs="0" name="Packaging_instruction_S" type="xs:string" />
               <xs:element minOccurs="0" name="Expiry_date_T" type="xs:string" />
               <xs:element minOccurs="0" name="SAP_quality_status_S" type="xs:string" />
               <xs:element minOccurs="0" name="sales_order_S" type="xs:string" />
               <xs:element minOccurs="0" name="sales_order_row_S" type="xs:string" />
               <xs:element minOccurs="0" name="origino_order_number_S" type="xs:string" />
               <xs:element minOccurs="0" name="origino_order_qty_V" type="xs:string" />
               <xs:element minOccurs="0" name="client_sales_order_S" type="xs:string" />
               <xs:element minOccurs="0" name="client_po_no_S" type="xs:string" />
               <xs:element maxOccurs="unbounded" minOccurs="0" name="mesOrderDetailInfo" nillable="true" type="tns:produceOrderInfoEntity" />
               <xs:element minOccurs="0" name="Reverse1_S" type="xs:string" />
               <xs:element minOccurs="0" name="Reverse2_S" type="xs:string" />
               <xs:element minOccurs="0" name="Reverse3_S" type="xs:string" />
               <xs:element minOccurs="0" name="Reverse4_S" type="xs:string" />
               <xs:element minOccurs="0" name="Reverse5_S" type="xs:string" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="produceOrderInfoEntity">
            <xs:sequence>
               <xs:element minOccurs="0" name="item_no_S" type="xs:string" />
               <xs:element minOccurs="0" name="item_material_No_S" type="xs:string" />
               <xs:element minOccurs="0" name="item_material_Desc_S" type="xs:string" />
               <xs:element minOccurs="0" name="item_inventory_location_S" type="xs:string" />
               <xs:element minOccurs="0" name="item_theory_qty_V" type="xs:string" />
               <xs:element minOccurs="0" name="item_uom_S" type="xs:string" />
               <xs:element minOccurs="0" name="item_spe_inventory_tip_S" type="xs:string" />
               <xs:element minOccurs="0" name="item_so_order_S" type="xs:string" />
               <xs:element minOccurs="0" name="item_so_row_no_S" type="xs:string" />
               <xs:element minOccurs="0" name="Reverse1_S" type="xs:string" />
               <xs:element minOccurs="0" name="Reverse2_S" type="xs:string" />
               <xs:element minOccurs="0" name="Reverse3_S" type="xs:string" />
               <xs:element minOccurs="0" name="Reverse4_S" type="xs:string" />
               <xs:element minOccurs="0" name="Reverse5_S" type="xs:string" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="orderResponse">
            <xs:sequence>
               <xs:element minOccurs="0" name="return" type="tns:orderBackResponse" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="orderBackResponse">
            <xs:sequence>
               <xs:element minOccurs="0" name="feed_msg" type="xs:string" />
               <xs:element minOccurs="0" name="feed_status" type="xs:string" />
            </xs:sequence>
         </xs:complexType>
         <xs:element name="Exception" type="tns:Exception" />
         <xs:complexType name="Exception">
            <xs:sequence>
               <xs:element minOccurs="0" name="message" type="xs:string" />
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="order">
      <wsdl:part element="ns1:order" name="parameters" />
   </wsdl:message>
   <wsdl:message name="Exception">
      <wsdl:part element="ns1:Exception" name="Exception" />
   </wsdl:message>
   <wsdl:message name="orderResponse">
      <wsdl:part element="ns1:orderResponse" name="parameters" />
   </wsdl:message>
   <wsdl:portType name="workOrderService">
      <wsdl:operation name="order">
         <wsdl:input message="ns1:order" name="order" />
         <wsdl:output message="ns1:orderResponse" name="orderResponse" />
         <wsdl:fault message="ns1:Exception" name="Exception" />
      </wsdl:operation>
   </wsdl:portType>
</wsdl:definitions>